body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

prediction-form {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.chart-section {
    text-align: center;
}

.flex-container {
    display: flex;
}

.flex-item {
    margin-right: 10px; 
}

tr.hidden {display: none;}

table {
    width: 1200px; /* Set fixed width */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #007bff; /* Set color to blue */
}

a {
    text-decoration: none;
    color: #007bff;
}

h1 {
    color: #007bff;
}

.hidden {
    display: none;
}

#viewMore, #collapse {
    cursor: pointer;    
    color: #007bff;
    margin-bottom: 10px;
    display: inline-block;
}