<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codeforces Ratings Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="container">
        <header>
            <h1>Codeforces Ratings Predictor</h1>
        </header>

        <section class="prediction-form">
            <form method="post">
                <label for="username">Enter Codeforces Handle:</label>
                <input type="text" name="username" required>
                <br>
                <label for="num_predictions">Number of Predictions:</label>
                <input type="number" name="num_predictions" value="5" required>
                <br>
                <button type="submit">Predict Ratings</button>
            </form>
        </section>

        {% if all_ratings %}
        <section class="chart-section">
            <canvas id="ratingChart" width="800" height="200"></canvas>
        </section>

    <script>
        function generateArray(start, end) {
            return Array.from({ length: end - start + 1 }, (_, i) => start + i);
        }

        var ctx = document.getElementById('ratingChart').getContext('2d');
        var num_predictions = {{num_predictions}};
        var actualLength = {{ all_ratings|length - num_predictions }};

// Convert the generators to lists
var allRatingsList = {{ all_ratings|list }};
var actualRatings = allRatingsList.slice(0, actualLength);
var predictedRatings = allRatingsList.slice(actualLength);

// Define colors for actual and predicted ratings
var actualColor = 'blue';
var predictedColor = 'red';

// Create the data object for the chart
var contestNumbers = Array.from({ length: actualLength }, (_, i) => i + 1);
var predictedContestNumbers = Array.from({ length: num_predictions }, (_, i) => actualLength + i + 1);

var chartData = {
  labels: [...contestNumbers, ...predictedContestNumbers],
  datasets: [
    {
      label: 'Actual Ratings',
      data: actualRatings,
      borderColor: actualColor,
      backgroundColor: actualColor,
      fill: false,
    },
    {
      label: 'Predicted Ratings',
      data: [...actualRatings, ...predictedRatings],
      borderColor: predictedColor,
      backgroundColor: predictedColor,
      fill: false,
    },
  ],
};



// Create the chart
var ratingChart = new Chart(ctx, {
  type: 'line',
  data: chartData,
});
    </script>
    {% endif %}
</body>

</html>
