<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codeforces Ratings Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='language.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='predictor.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<body>
    <div class="container">
        <header>
            <h1>Codeforces Ratings Predictor</h1>
        </header>

        <section class="prediction-form">
            <form method="post">
                <label for="username">Enter Codeforces Handle:</label>
                <input type="text" name="username" required>
                <br>
                <label for="num_predictions">Number of Predictions:</label>
                <input type="number" name="num_predictions" value="5" required>
                <br>
                <button type="submit">Predict Ratings</button>
            </form>
        </section>

        {% if all_ratings %}
        <section class="chart-section">
            <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
            <canvas id="ratingChart" width="800" height="200"></canvas>
        </section>

    <script>
      //Language-
       var lang_data = {{ langData | tojson | safe }};
       languagepiechart(lang_data);
      // Prediction-
      var num_predictions = {{num_predictions}};
      var actualLength = {{ all_ratings|length - num_predictions }};
      var allRatingsList = {{ all_ratings|list }};
      prediction(allRatingsList,actualLength,num_predictions)


    </script>
    {% endif %}
</body>

</html>
