<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codeforces Insights</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src='https://cdn.plot.ly/plotly-2.27.0.min.js'></script>
    <script type="text/javascript" src="{{ url_for('static', filename='heatmap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='blog.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='barchart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='piechart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='predictor.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<body>
    <div class="container">
        <header>
            <h1>Codeforces Insights</h1>
        </header>

        <section class="prediction-form">
            <form method="post">
                <label for="username">Enter Codeforces Handle:</label>
                <input type="text" name="username" required>
                <br>
                <button type="submit">Predict Ratings</button>
            </form>
        </section>

        {% if all_ratings %}
        <section class="chart-section">
            <h3>Rating Prediction</h3>
            <canvas id="ratingChart" width="800" height="200"></canvas>
            <div class="flex-container">
                <div id="submissionChart" class="flex-item" style="width: 900px; height: 500px; background-color: lightblue;"></div>
                <div id="langChart" class="flex-item" style="width: 900px; height: 500px; background-color: lightcoral;"></div>
            </div>
            <h3>Problem Ratings</h3>
            <div id="ratingbar" style="width: 1200px; height: 600px;"></div>
            <h3>Problem Levels</h3>
            <div id="levelbar" style="width: 1200px; height: 600px;"></div>
            <table id="myTable">
                <tr>
                    <th>Title</th>
                    <th>Rating</th>
                    <th>Tags</th>
                    <th>Link</th>
                </tr>
                {% for entry in blog_entries %}
                    <tr class="{% if loop.index > 5 %}hidden{% endif %}">
                        <td>{{ entry.title | striptags }}</td>
                        <td>{{ entry.rating }}</td>
                        <td>{{ entry.tags | join(', ') }}</td>
                        <td><a href="https://codeforces.com/blog/entry/{{ entry.id }}" target="_blank">Read More</a></td>
                    </tr>
                {% endfor %}
            </table>
            <button onclick="excerpt()" id="showMore">Show More/Less</button>
            <div style="text-align: center;">
                <h1>Codeforces Submissions Calendar</h1>
            
                <!-- Input area for max submissions -->
                <label for="maxSubmissions">Max Submissions:</label>
                <input type="number" id="maxSubmissions" placeholder="Enter max submissions" value="5">
                <button id="submitMaxSubmissions">Submit</button>
            
                <div>
                    <div id="calendar_basic" style="width: 1200px; padding-left: 130px;"></div>
                </div>
            </div>
            
            
        </section>

    <script>
        //Heatmap
        var submissions_data = {{ submissionData | tojson | safe }};
       heatmap(submissions_data,"calendar_basic");

      //Language-
       var lang_data = {{ langData | tojson | safe }};
       languagepiechart(lang_data,"langChart");

       //Submission-
       var verdict_data = {{ verdictData | tojson | safe }};
       languagepiechart(verdict_data,"submissionChart");

        //Rating-
        var rating_data = {{ ratingData | tojson | safe }};
       ratingbarchart(rating_data,"ratingbar");


        //Levels-
        var problem_data = {{ problemData | tojson | safe }};
       ratingbarchart(problem_data,"levelbar");

      // Prediction-
      var num_predictions = 5;
      var actualLength = {{ all_ratings|length - 5 }};
      var allRatingsList = {{ all_ratings|list }};
      prediction(allRatingsList,actualLength,5)


    </script>
    {% endif %}
</body>

</html>
